.preserve-whitespace {
    margin: 10px;
    padding: 50px;
  }

.title-index{
  color: rgb(33, 104, 20);
  font-family: cursive;
  font-weight: 900;
  font-style: initial;
}

#searching{
  font-family: monospace;
}