{% extends 'parent/base.html' %}
{% load blog_tags %}
{% load static %}
{% block title %}post detail{% endblock %}

{% block content %}
    <h1>post detail</h1>
    <h2>{{ post.title }} (by {{ post.author }})</h2>
    <p>{{ post.description | markdown }}</p>
    <hr>
        <div>
        {% if post.video %}
            Video:
            <video alt='Your Video' width='420px' controls>
                <source src="{{ MEDIA_URL }}{{ post.video.url }}" type='video/mp4'>
            </video>
        {% else %}
            Video: None
        {% endif %}
        </div>
        <hr>
    {# <p>{{ post.publish }}</p> #}
    <p>{{ new_date | date:'r'}}</p>


    <div>
    {% with comments.count as cm_count %}
    {{ cm_count }} comment{{ cm_count|pluralize }}
    </div>

    <div>
    {% for cm in comments %}
        "{{ cm.body }}" from {{ cm.name }}
        <a href="{{ cm.get_absolute_url_5 }}">editing comment
        </a> 
        <br>

    {% empty %}
        !کامنتی وجود ندارد
    {% endfor %}
    </div>
    {% endwith %}
    <hr>

    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="افزودن کامنت">
    </form>
    <hr>
  
    <div>
        {% total_like as lk %}
        {% for like in lk %}
            <br>
            <a href="#">{{ like.name }} liked {{ like.post }}</a>
        {% endfor %}
    
    </div>

    <form method="post" action="{% url 'blog:post_like' post.id %}">
        {% csrf_token %}
        <input type="submit" value="لایک کردن">
    </form>  
    <hr>

    <form method="post" action="{% url 'blog:delete_post' post.id %}">
        {% csrf_token %}
        <input type="submit" value="احذف پست">
    </form>
    <hr>

    <form method="get" action="{% url 'blog:edit_post' post.id %}">
        {% csrf_token %}
        <input type="submit" value="ویرایش پست">
    </form> 
    <hr>

    <form method='post' action="{% url 'blog:delete_comment' post.id  %}">
        {% csrf_token %}
        <input type='submit' value='حذف کامنت'>
    </form>


{% endblock %}

