{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}post number{% endblock %}
{% block content %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel='stylesheets' href='static/css/base.css'>
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<div id="navbar">
  <a class="active" href="/blog/">Home</a>
  <a href="/blog/posts/">Postlist</a>
  <a href="/blog/ticket">Ticket</a>
  <a href="/blog/postform">Postform</a>
  <a href="/blog/login/">Loginform</a>
  <a href="/blog/profile/">Profileform</a>
  <a href="/blog/fl_testing/">Fl testing</a>
  <a href="/blog/counter/">Counter</a>
  <a href="/blog/translation/">Translator</a>
  <a href="/blog/posts/favorites">favorites list</a>
  <a href="/blog/posts/favorites/form/">favorites form</a>
</div>

<script src='static/js/base.js'></script>

<img src="{% static 'images/tech.jpg' %}" alt='technology photo' width='600' height='500' align='right'>

<br>
<br>
<br>
    <h2>آمار سایت</h2>
    <p> {% tp %} :تعداد پست</p>
    <p> {% total_comments %} :تعداد کامنت</p>
    <p> {% last_post_date %} :تاریخ اولین پست</p>
    <p> {% total_ticket_enteqad %} :تعداد تیکت های انتقادی</p>
    <p> {% ttg %} :تعداد تیکت های گزارشی</p>
    <p> {% ttp %} :تعداد تیکت های پیشنهادی</p>
    <p> {% rp %} :تعداد پست های ردشده</p>
    <p> {% tl %} :تعداد لاگ این ها </p>
    <p> {% nl %} :تعداد لاگ این های غیر فعال</p>
    <p> {% lld %} :آخرین لاگ این غیر فعال</p>
    <p> {% total_profile_2 %} :تعداد پروفایل ها</p>

    
    {% latest_post 3 %}

    <h2>محبوب ترین پست ها</h2>
    {% most_popular_posts 3 as pop_posts %}
    {% for post in pop_posts %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}: with {{ post.comments_count }} comments </a>
    {% endfor %}

    <h2>محبوب ترین نویسنده ها</h2>
    {% most_popular_author as pop %}
    {% for post in pop %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.author }}: with {{ post.title }} </a>
    {% endfor %}
    <br>
    <h2>پست ها</h2>
    {% for post in pop %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    {% endfor %}
    <br>
    <h2>لاگ این ها</h2>
    {% login as log %}
    {% for login in log %}
        <br>
        <a href="#">{{ login.username }}</a> <a href="{{ login.get_absolute_url_2 }}"><input type="submit" value='لاگ اوت'></a>
    {% endfor %}
    <br>
    <h2>پروفایل ها</h2>
    {% total_profile as tp %}
    {% for profile in tp %}
        <br>
        <a href="{{ profile.get_absolute_url_3 }}">{{ profile.full_name }}</a>
    {% endfor %}
    <br>
    

{% endblock %}
