{% extends 'parent/base.html' %}
{% block title %}Objects of Category{% endblock %}
{% block content %}
{% load static %}

   <link rel='stylesheet' type='text/css' href="{% static "css/objects.css" %}">

    <h1>{{ category.name | capfirst }} category</h1>

<ol style="--length: {{ objs | length }}" role="list">
    {% for obj in objs %}
    <ol class="olcards">
        <li style="--cardColor:#36aeb3">
            <div class="content">
                <div class="title"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></div>
                <div class="text">{{ obj.description | truncatewords:5 }}</div>
            </div>
        </li>
    </ol>
    {% endfor %}
</ol>

    {% include "partials/pagination.html" with page=page_obj %}
{% endblock %}
