{% extends "parent/base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}

    <link rel='stylesheet' type='text/css' href="{% static "css/profile.css" %}">

    <div class="card">
        <div class="card-border-top">
        </div>
        <div>
            {% if user.photo %}
            <img class='user-photo' src="{% thumbnail user.photo 80x80 crop="0,0" %}" alt='picture'>
            {% endif %}
        </div>
        <span>{{ user.first_name }} {{ user.last_name }}</span>
        <p class="job"> {{ user.job }}</p>
        <p class="job"> {{ user.bio }}</p>
        <p class="job"> {{ user.date_of_birth }}</p>
        <p class="job"> {{ user.email }}</p>
        <form method='get' action="{% url "hobby:edit_user" %}">
            {% csrf_token %}
            <button>Edit</button>
        </form>
        <form method='post' action="{% url "hobby:logout" %}">
            {% csrf_token %}
            <button>Logout</button>
        </form>
    </div>
    
    <div class='saves'>
        <h1 align='center'>Saved Objects</h1>
        <img src="{% thumbnail "static/images/save.png" 80x80 crop="0,0" %}" alt='save' class='save-photo'>

    {% for object in saved_objects %}
        <ol><a href="{{ object.get_absolute_url }}" id='saved_objects'>{{ object.category }} | {{ object.title }}</a></ol>
    {% endfor %}
    </div>

    <p id='title-add-object'>Do you want to <a href='/hobby/add_object/'>add object</a> ?</p>

{% endblock content %}