{% extends "parent/base.html" %}
{% block title %}Add Object{% endblock title %}
{% block content %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static "css/registration.css" %}">

    <p class='title'>Add Object</p>
    <p class='message'>You can add an object here</p>

    <div class='flex'>

    <form method='post' enctype='multipart/form-data' class='form'>
        {% csrf_token %}
        <div class='input'>{{ form.as_p }}</div>
        (Time to read is about minutes)
        <br>
        <br>
        <input type='submit' value='add' class='submit'>
    </form>

    </div>

{% endblock content %}
