{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}Search Object{% endblock %}
{% block content %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static "css/search.css" %}">

    <h1>Search Object</h1>

    <form method='get' action="{% url "hobby:search_object" %}">
        {% csrf_token %}
        <div class="search">
            <input placeholder="Search..." type="text" {{ form.query }}>
            <button type="submit">Go</button>
        </div>
    </form>

    <br>

    {% for result in results %}
        <h3><a href="{{ result.get_absolute_url }}"><li>{{ result.title }} in {{ result.category }} category</li></a></h3>
    {% endfor %}

{% endblock %}
