{% extends "parent/base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static "css/registration.css" %}">

    <p class='title'>Login</p>
    <p class='message'>You can login here</p>

    <div class='flex'>

    <form method='post' class='form'>
        {% csrf_token %}
        <div class='input'>{{ form.as_p }}</div>
        <h3>Are you a new user? <a href="{% url "hobby:register" %}">Register</a></h3>
        <input type='submit' value='Login' class='submit'> 
    </form>

    </div>
    
{% endblock content %}
