{% extends "parent/base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static "css/registration.css" %}">

    <p class='title'>Register</p>
    <p class='message'>You can register here</p>

    <div class='flex'>

    <form method='post' class='form'>
        {% csrf_token %}
        <div class='input'>{{ form.as_p }}</div>
        <h3>Did you register? <a href="{% url "hobby:login" %}">Login</a></h3>
        <input type='submit' value='Register' class='submit'> 
    </form>

   </div>

{% endblock content %}