{% extends "parent/base.html" %}
{% block title %}fl{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<body>

    <p>The queryset objects:</p>

    {{ data }}

    <p>the items:<p>

        <table border='1'>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
            
            {% for x in data %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.author_id }}</td>
                    <td>{{ x.description }}</td>
                </tr>
            {% endfor %}

</body>
</html>

{% endblock %}
