{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}ticket form{% endblock %}
{% block content %}

<a href='/blog/' align='left'><h2> Home </h2></a> 


    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="ثبت تیکت">

    </form>

    {% if form.errors %}
       لطفا خطاهای زیر را اصلاح کنید
       <br>
       {% for field in form  %}
            {% if field.errors %}
                {% for error in field.errors %} 
                {{ field.label }} : {{ error }}
                {% endfor %}
            {% endif %}
       {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
       {{ form.non_field_errors }}
    {% endif %}
    <br>

{% endblock %}
