{% extends "parent/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load thumbnail %}
{% load blog_tags %}
{% load static %}

    <link rel='stylesheet' type='text/css' href="{% static "css/index.css" %}">

    <h1 align='center' class='title-index'>Welcome to TeenSite</h1>

    {% objects_of_categories as ooc %}
    {% for category in ooc %}
        <a href="{% url "hobby:objects_of_category" category.name %}"><img src="{% thumbnail category.picture 200x200 %}" class="preserve-whitespace"></img></a>
    {% endfor %}

    <h2 id='searching'>If you are looking for a specific object, <a href='/hobby/search_object/'>search</a>.</h2>
    
{% endblock content %}