{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}cart{% endblock %}
{% block content %}
    <h1>cart</h1>
    
    <a href='/store/'>Home</a>
<ol style="--length: {{ posts | length }}" role="list">
    {% for cart in carts %}
        <li style="--i: {{ forloop.counter }}">   
        <h3>
        <p>{{ cart.product }}({{ cart.customer }})</p>
        </h3>
        <p>Address : {{ cart.address }}</p>
        <p>Phone : {{ cart.phone }}</p>
        <p>Quantity : {{ cart.quantity }}</p>
        <p>Price : {{ cart.price }}</p>

        <form method='post' action="{% url "store:remove_from_cart" cart.id %}">
            {% csrf_token %}
            <input type="submit" value='remove'>
        </form>

        </li>
    {% endfor %}
</ol>

<form method='post' action="{% url "store:delete_products_from_cart" %}">
    {% csrf_token %}
    <input type="submit" value='delete all'>
</form>

    {% include "partials/pagination.html" with page=page_obj %}
{% endblock %}
